<!-- Header Start -->
    <div class="jumbotron jumbotron-fluid page-header position-relative overlay-bottom" style="margin-bottom: 90px;">
        <div class="container text-center py-5">
            <h1 class="text-white display-1">Courses</h1>
            <div class="d-inline-flex text-white mb-5">
                <p class="m-0 text-uppercase"><a class="text-white" href="/" onclick="loadPage('home'); return false;">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">Courses</p>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Courses Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row mx-0 justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center position-relative mb-5">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Our Courses</h6>
                        <h1 class="display-4">Checkout New Releases Of Our Courses</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 pb-4">
                    <div class="card h-100 shadow-sm">
                        <img class="card-img-top" src="{{ url_for('static', filename='img/solar install.png') }}"
                            alt="Solar Design and Installation">
                        <div class="card-body">
                            <h5 class="card-title">Solar Design & Installation</h5>
                            <p class="card-text">Hands-on training to design and install residential & commercial solar
                                systems.</p>
                            <a href="/course/solar-design-installation" class="btn btn-primary" onclick="loadPage('/course/solar-design-installation'); return false;">More</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 pb-4">
                    <div class="card h-100 shadow-sm">
                        <img class="card-img-top" src="{{ url_for('static', filename='img/solarprenuer.png') }}"
                            alt="Solarpreneurship">
                        <div class="card-body">
                            <h5 class="card-title">Solarpreneurship</h5>
                            <p class="card-text">Learn how to start and grow a profitable solar energy business.</p>
                            <a href="/course/solarpreneurship" class="btn btn-primary" onclick="loadPage('/course/solarpreneurship'); return false;">More</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 pb-4">
                    <div class="card h-100 shadow-sm">
                        <img class="card-img-top" src="{{ url_for('static', filename='img/repair.png') }}"
                            alt="Repair & Maintenance">
                        <div class="card-body">
                            <h5 class="card-title">Repair & Maintenance</h5>
                            <p class="card-text">Practical skills for diagnosing, repairing and maintaining solar
                                systems.</p>
                            <a href="/course/repair-maintenance" class="btn btn-primary" onclick="loadPage('/course/repair-maintenance'); return false;">More</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 pb-4">
                    <div class="card h-100 shadow-sm">
                        <img class="card-img-top" src="{{ url_for('static', filename='img/hse.png') }}"
                            alt="HSE Management">
                        <div class="card-body">
                            <h5 class="card-title">HSE Management</h5>
                            <p class="card-text">Essential health, safety and environment practices for project sites.
                            </p>
                            <a href="/course/hse-management" class="btn btn-primary" onclick="loadPage('/course/hse-management'); return false;">More</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 pb-4">
                    <div class="card h-100 shadow-sm">
                        <img class="card-img-top" src="{{ url_for('static', filename='img/robotics.png') }}"
                            alt="AI & Robotics">
                        <div class="card-body">
                            <h5 class="card-title">AI & Robotics</h5>
                            <p class="card-text">Build practical AI and robotics projects for automation and controls.
                            </p>
                            <a href="/course/ai-robotics" class="btn btn-primary" onclick="loadPage('/course/ai-robotics'); return false;">More</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 pb-4">
                    <div class="card h-100 shadow-sm">
                        <img class="card-img-top" src="{{ url_for('static', filename='img/webdev.png') }}"
                            alt="Web Development">
                        <div class="card-body">
                            <h5 class="card-title">Web Design & Development</h5>
                            <p class="card-text">Learn to design and develop responsive, modern websites and apps.</p>
                            <a href="/course/web-development" class="btn btn-primary" onclick="loadPage('/course/web-development'); return false;">More</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 pb-4">
                    <div class="card h-100 shadow-sm">
                        <img class="card-img-top" src="{{ url_for('static', filename='img/digital.png') }}"
                            alt="Digital Marketing">
                        <div class="card-body">
                            <h5 class="card-title">Digital Marketing</h5>
                            <p class="card-text">Practical digital marketing skills to grow brands online.</p>
                            <a href="/course/digital-marketing" class="btn btn-primary" onclick="loadPage('/course/digital-marketing'); return false;">More</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 text-center">
                    <a href="/registration" class="btn btn-lg btn-success mt-3" onclick="loadPage('registration'); return false;">Register for a
                        Course</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Courses End -->
