<!-- Footer Start -->
<div class="container-fluid position-relative overlay-top bg-dark text-white-50 py-5" style="margin-top: 90px;">
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-md-8 offset-md-4 mb-5">
                <a href="{{ url_for('home') }}" class="navbar-brand">
                    <h2 class="mt-n2 text-uppercase text-white"><i class="fa fa-book-reader mr-3"></i>Novel
                        Academy</h2>
                </a>
                <p class="m-0">Where innovation meets sustainability!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-5">
                <h3 class="text-white mb-4">Get In Touch</h3>
                <p><i class="fa fa-map-marker-alt mr-2"></i>76, Adekunle Fajuyi Road Ibadan.
                    Opposite Gate 3, Adamasingba Stadium, Ibadan
                    Oyo State</p>
                <p><i class="fa fa-phone-alt mr-2"></i>+234 8113695917</p>
                <p><i class="fa fa-envelope mr-2"></i>novelsolaracademy@gmail.com</p>
                <div class="d-flex justify-content-start mt-4">
                    <a class="text-white mr-4" href="#"><i class="fab fa-2x fa-twitter"></i></a>
                    <a class="text-white mr-4" href="#"><i class="fab fa-2x fa-facebook-f"></i></a>
                    <a class="text-white mr-4" href="#"><i class="fab fa-2x fa-linkedin-in"></i></a>
                    <a class="text-white" href="#"><i class="fab fa-2x fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <h3 class="text-white mb-4">Our Courses</h3>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white-50 mb-2" href="/course/solar-design-installation"><i class="fa fa-angle-right mr-2"></i>Solar Design and
                        Installation</a>
                    <a class="text-white-50 mb-2" href="/course/solarpreneurship"><i class="fa fa-angle-right mr-2"></i>Solarpreneurship
                        and businesses Management</a>
                    <a class="text-white-50 mb-2" href="/course/repair-maintenance"><i class="fa fa-angle-right mr-2"></i>Repair and
                        maintenance</a>
                    <a class="text-white-50 mb-2" href="/course/hse-management"><i class="fa fa-angle-right mr-2"></i>HSE (Health,
                        Safety, and Environment) Management</a>
                    <a class="text-white-50 mb-2" href="/course/ai-robotics"><i class="fa fa-angle-right mr-2"></i>Pratical Artificial
                        Inteligence and Robotics</a>
                    <a class="text-white-50 mb-2" href="/course/digital-marketing"><i class="fa fa-angle-right mr-2"></i>Digital
                        Marketing</a>
                    <a class="text-white-50 mb-2" href="/course/web-development"><i class="fa fa-angle-right mr-2"></i>Web design &
                        development</a>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <h3 class="text-white mb-4">Quick Links</h3>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white-50 mb-2" href="/registration"><i class="fa fa-angle-right mr-2"></i>Registration</a>
                    <a class="text-white-50 mb-2" href="#about"><i class="fa fa-angle-right mr-2"></i>About Us</a>
                    <a class="text-white-50 mb-2" href="/courses"><i class="fa fa-angle-right mr-2"></i>Courses</a>
                    <a class="text-white-50 mb-2" href="#Contact"><i class="fa fa-angle-right mr-2"></i>Contact</a>
                    <a class="text-white-50" href="{{ url_for('admin_login') }}"><i
                            class="fa fa-angle-right mr-2"></i>Admin Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-white-50 border-top py-4"
    style="border-color: rgba(256, 256, 256, .1) !important;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0">Copyright &copy; 2026 <a class="text-white" href="{{ url_for('home') }}">Novel
                        Academy</a>. All Rights
                    Reserved.
                </p>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <p class="m-0" style="color: transparent; transition: color 0.3s; cursor: default;" onmouseover="this.style.color='white'" onmouseout="this.style.color='transparent'">Designed by Davies</p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
